In [1]:
import pandas as pd
oil_data = pd.read_csv("oil_spill.csv")
oil_data.head()

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_41,f_42,f_43,f_44,f_45,f_46,f_47,f_48,f_49,target
0,1,2558,1506.09,456.63,90,6395000,40.88,7.89,29780.0,0.19,...,2850.00,1000.00,763.16,135.46,3.73,0,33243.19,65.74,7.95,1
1,2,22325,79.11,841.03,180,55812500,51.11,1.21,61900.0,0.02,...,5750.00,11500.00,9593.48,1648.80,0.60,0,51572.04,65.73,6.26,0
2,3,115,1449.85,608.43,88,287500,40.42,7.34,3340.0,0.18,...,1400.00,250.00,150.00,45.13,9.33,1,31692.84,65.81,7.84,1
3,4,1201,1562.53,295.65,66,3002500,42.40,7.97,18030.0,0.19,...,6041.52,761.58,453.21,144.97,13.33,1,37696.21,65.67,8.07,1
4,5,312,950.27,440.86,37,780000,41.43,7.03,3350.0,0.17,...,1320.04,710.63,512.54,109.16,2.58,0,29038.17,65.66,7.35,0

In [2]:
print(oil_data.dtypes)

f_1         int64
f_2         int64
f_3       float64
f_4       float64
f_5         int64
f_6         int64
f_7       float64
f_8       float64
f_9       float64
f_10      float64
f_11      float64
f_12      float64
f_13      float64
f_14      float64
f_15      float64
f_16      float64
f_17      float64
f_18      float64
f_19      float64
f_20      float64
f_21      float64
f_22      float64
f_23        int64
f_24      float64
f_25      float64
f_26      float64
f_27      float64
f_28      float64
f_29      float64
f_30      float64
f_31      float64
f_32      float64
f_33      float64
f_34      float64
f_35        int64
f_36        int64
f_37      float64
f_38      float64
f_39        int64
f_40        int64
f_41      float64
f_42      float64
f_43      float64
f_44      float64
f_45      float64
f_46        int64
f_47      float64
f_48      float64
f_49      float64
target      int64
dtype: object

In [3]:
oil_data.mean(axis=0)

f_1           81.588047
f_2          332.842049
f_3          698.707086
f_4          870.992209
f_5           84.121665
f_6       769696.378869
f_7           43.242721
f_8            9.127887
f_9         3940.712914
f_10           0.221003
f_11         109.892743
f_12           0.251441
f_13           0.311217
f_14           0.484664
f_15           0.182892
f_16           0.301932
f_17          77.412561
f_18          31.151921
f_19           0.909039
f_20           0.228815
f_21           0.289317
f_22          76.085624
f_23           0.000000
f_24           0.642177
f_25         559.910694
f_26           0.578292
f_27           7.498196
f_28           0.608399
f_29           4.271110
f_30          -2.828420
f_31          -0.428869
f_32           1.824589
f_33           0.002785
f_34           1.821793
f_35          43.086446
f_36        2432.689434
f_37           0.006894
f_38          31.241857
f_39          91.189968
f_40          60.547492
f_41         933.928677
f_42         427.565582
f_43         255.435902
f_44         106.112519
f_45           5.014002
f_46           0.128068
f_47        7985.718004
f_48          61.694386
f_49           8.119723
target         0.043757
dtype: float64

In [4]:
oil_data.median(axis=0)

f_1           64.00
f_2           65.00
f_3          704.37
f_4          761.28
f_5           73.00
f_6       186300.00
f_7           39.97
f_8            8.20
f_9         2090.00
f_10           0.20
f_11          99.80
f_12           0.24
f_13           0.29
f_14           0.43
f_15           0.17
f_16           0.27
f_17          34.72
f_18          16.49
f_19           0.70
f_20           0.22
f_21           0.27
f_22          69.09
f_23           0.00
f_24           0.50
f_25         351.67
f_26           0.87
f_27           5.07
f_28           0.48
f_29           3.33
f_30          -2.78
f_31          -0.38
f_32           1.95
f_33           0.00
f_34           1.95
f_35          23.00
f_36        1350.00
f_37           0.01
f_38          23.63
f_39          82.00
f_40          55.00
f_41         685.42
f_42         270.00
f_43         161.65
f_44          73.85
f_45           3.85
f_46           0.00
f_47        5509.43
f_48          65.93
f_49           7.22
target         0.00
dtype: float64

In [5]:
oil_data.count()

f_1       937
f_2       937
f_3       937
f_4       937
f_5       937
f_6       937
f_7       937
f_8       937
f_9       937
f_10      937
f_11      937
f_12      937
f_13      937
f_14      937
f_15      937
f_16      937
f_17      937
f_18      937
f_19      937
f_20      937
f_21      937
f_22      937
f_23      937
f_24      937
f_25      937
f_26      937
f_27      937
f_28      937
f_29      937
f_30      937
f_31      937
f_32      937
f_33      937
f_34      937
f_35      937
f_36      937
f_37      937
f_38      937
f_39      937
f_40      937
f_41      937
f_42      937
f_43      937
f_44      937
f_45      937
f_46      937
f_47      937
f_48      937
f_49      937
target    937
dtype: int64